html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html,body {
	height:100%;
}

body {
	font-size:18px;
	font-family: "Ubuntu", sans-serif;
}

section {
	min-height:100%;
	position:relative;
	padding:2em 0;
}

section:nth-of-type(odd) {
	background-color: #3e3947;
	color: #898099;
}

section:nth-of-type(even) {
	background-color: #745360;
	color: #bda3ad;
}

section h1 {
	color: #fff;
	font-size:2.5vw;
}

.vertical-center {
	position:absolute;
	top:50%;
	left:50%;
	bottom:auto;
	right:auto;
	transform:translate(-50%,-50%);
}

#container{
	margin: 0 auto;
	width:80%;
	max-width: 900px;
	text-align:center;
}

img.avatar {
	border-radius:50%;
}