@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'colors/_quantum-colors';
@import '_mixins';

// CONFIG
$total_width : 100%;
$container_margin : 1%;
$gutter_width : 2%;
$max_width : 100%;


// COLORS
$text-color : #333;
$main-bg : $grey-200;
$secondary-bg : $grey-100;
$main-color : set-text-color($main-bg);
$secondary-color : set-text-color($secondary-bg);

// NEAT
$xsmall : new-breakpoint(max-width 320px);
$mobile : new-breakpoint(max-width 599px);
$medium : new-breakpoint(max-width 719px);
$default : new-breakpoint(min-width 600px);
$xlarge : new-breakpoint(min-width 1600px);

// MAIN STYLE

html * {
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

*, *:after, *:before {
    box-sizing : border-box;
}

html, body {
    height : 100%;
}

body {
    font-family : 'Ubuntu', sans-serif;
    font-size : 14px;
}

body {
    font-size : 1.1875rem;
    line-height : 1.6875rem;

    margin : 0 auto;

    color : $text-color;
}

a {
    text-decoration : none;

    color : inherit;
}

h1 {
    font-size : 5rem;
    line-height : 5.0625rem;

    margin-top : 3.375rem;
    margin-bottom : 1.6875rem;
}

h2 {
    font-size : 3.125rem;
    line-height : 3.375rem;

    margin-top : 3.375rem;
    margin-bottom : 1.6875rem;
}

h3 {
    font-size : 1.9375rem;
    font-weight : 300;
    line-height : 3.375rem;

    margin-top : 1.6875rem;
    margin-bottom : 1.6875rem;
}

h4 {
    font-size : 1.1875rem;
    line-height : 1.6875rem;

    margin-top : 1.6875rem;
    margin-bottom : 1.6875rem;
}

p, ul, ol, pre, table, blockquote {
    margin-top : 1.6875rem;
    margin-bottom : 1.6875rem;
}

header, section, footer {
    position : relative;

    padding : 2em 0;
}

section:nth-of-type(odd) {
    color : $main_color;
    background-color : $main_bg;
}

section:nth-of-type(even) {
    color : $secondary_color;
    background-color : $secondary_bg;
}

header {
    min-height : 100%;
    padding : 0;

    background-attachment : fixed;
    background-size : cover;
    h3 {
        display : block;

        color : $white;
    }
    canvas {
        position : fixed;

        width : 100%;
        height : 100%;
    }
    #container {
        position : absolute;
        z-index : 1;
        top : 50%;
        right : auto;
        bottom : auto;
        left : 50%;

        transform : translate(-50%,-50%);
    }
}

#container {
    width : 80%;
    max-width : 1200px;
    margin : 0 auto;

    text-align : center;
}

img.avatar {
    border-radius : 50%;
}

ul.social-icons {
    margin : 0;
    margin-top: 1.6em;
    padding : 0;

    list-style : none;
    li {
        display : inline;

        margin : 0;
    }
}

.row {
    @include outer-container(100%);
}

.col-3 {
    @include span-columns(4);
    @include omega(3n);
    @include media($medium) {
        @include span-columns(12);
    }
}
